  body{
    font-family: system-ui;
  }
  .navigation{
    background-color: #2ac9c9;

    .navbar-brand {
      margin-top: -26px;
      color:#fff;
    } 
      ul#top-nav a {
        color: #fff;
        font-size: 16px;
    }
    a{
      color: #fff;
    }
  }
  footer{
    color:#fff;
    a{
      color:#fff;

    }
  }
 
