.collection {
  background: #dcdcdc5c;
  padding: 18px;

  &__product__content {
    .woocommerce {
      ul {
        li.product {
          padding: 22px !important;
          background: #38e1ac7d;
          box-shadow: 1px 1px 3px 0px #ff00001f;
        }
      }
    }
  }
}
